<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Spoiled Potatoes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <% if(!userActive) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/options">Login</a>
                </li>
                <% } %> 
                <% if(userActive) { %> 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
                    </ul>
                </li>
                <% } %> 
            </ul>
            <form method="POST" action="/results" class="d-flex">
                <input class="form-control me-4" name="userInput" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<% if (typeof messages !== 'undefined') { %>
<% if (messages.error) { %>
    <% messages.error.forEach(error => { %>
        <div class="alert alert-danger" role="alert">
            <%= error %> 
        </div>
    <% }); %> 
    <% } %>
<% if (messages.success) { %>
    <% messages.success.forEach(success => { %>
        <div class="alert alert-success" role="alert">
            <%= success %> 
        </div>
    <% }); %> 
    <% } %>
<% if (messages.info) { %>
    <% messages.info.forEach(info => { %>
        <div class="alert alert-warning" role="alert">
            <%= info %> 
        </div>
    <% }); %> 
    <% }} %>