<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/nav') %>
        <div class='info-container'>
            <div class='bio'>
                Bio Here
            </div>
        </div>
    <div class = 'dash-container d-flex'>
        <div class='favorites-container'>
            Favorites Here
        </div>
        <div class ='review-dash'>
            Reviews Here
        </div>
    </div>
</body>

</html>