<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/nav') %>
    <div class='info-container'>
        <div class='image-container'>
            Pictue here
        </div>
        <div class='bio'>
            Bio Here
        </div>
    </div>
    <div class='favorites-container'>
        Favorites Here
    </div>
</body>

</html>