@font-face {
  font-family: 'tostada';
  src: url(../fonts/TOSTADA.ttf);
}

@font-face {
  font-family: 'Bechtlers';
  src: url(../fonts/Bechtlers.otf);
}

@font-face {
  font-family: 'agu';
  src: url(../fonts/AguafinaScript-Regular.ttf);
}

body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.form-label {
  font-family: 'Bechtlers';
  font-size: 20px;
}

.form-label1 {
  font-family: 'Bechtlers';
  font-size: 30px;
}

.container {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px; 
}

.btn {
  display: flex;
  font-family: 'Bechtlers';
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid black;
}

.nav-item {
  font-family: 'Bechtlers';
}

.btn:hover {
  background-color: rgb(224, 222, 222);
}

.navbar {
  padding-bottom: 40px;
  height: 60px;
}

.navbar-brand {
  font-family: 'tostada';
  font-size: 30px;
}

.form-control {
  width: 600px;
  margin-right: 0px;
}

.login {
  justify-content: flex-end;
  max-width: 900px;
}

.signup {
  justify-content: flex-end;
  max-width: 900px;
}

.result-cards {
  justify-content: space-around;
}

.movie-card {
  margin-bottom: 30px;
}

.result-container {
  justify-content: center;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.movie-title {
  font-family: 'Bechtlers';
  font-size: 30px;
}

.result-info {
  font-size: 14px;
}

.review-movie-id {
  display: none;
}

.review-box {
  flex-grow: 1;
  width: inherit !important;
}

.card-body {
  font-family: 'Bechtlers';
}

.btn-submit {
  font-family: 'agu';
  font-size: x-large;
  background-color: white;
  border: white;
}

.btn-submit:hover {
  transform: scale(1.1);
  transition: linear;
}

.btn-createnew {
  margin-left: 850px;
  display: flex;
  font-family: 'Bechtlers';
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
}

.card-sign {
  border: white;
}

.image-container {
  border: 2px solid black;
  width: 400px;
  height: 400px;
  margin: 30px;
  border-radius: 10px;
}

.favorites-container {
  border: 2px solid black;
  width: 400px;
  height: 1000px;
  margin: 30px;
  margin-top: 50px;
  border-radius: 10px;
  padding: 10px;
}

.info-container {
  display: flex;
}

.bio {
  margin: 50px;
}

.favMovie {
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.moreInfo {
  display: flex;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  justify-content: center;
}

.btn-favorites {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
}

.btn-favorites:hover {
  transform: scale(1.1);
}